<p style="color: green"><%= notice %></p>

<h1>Admins</h1>

<div id="admins">
  <% @admins.each do |admin| %>
    <%= render admin %>
    <p>
      <%= link_to "Show this admin", admin %>
    </p>
  <% end %>
</div>

<%= link_to "Create A Student", new_student_path(:admin=>"admin") %>
<%= link_to "Show All Students", showStudentsAll_path %>
<%= link_to "Show All Courses", showAllCourses_path %>
<%= link_to "Show All Instrutors", showAllInstructors_path %>
