<p style="color: green"><%= notice %></p>

<%= render @admin %>

<div>

<%= link_to "Create A Student", new_student_path(:admin=>"admin") %>
<%= link_to "Show All Students", students_path, method: :get  %>
<%= link_to "Show All Courses", courses_path %>
<%= link_to "Show All Instrutors",instructors_path %>

 
</div>
