<p style="color: green"><%= notice %></p>

<%= render @admin %>

<div>

  <p><%= button_to "Edit Details", edit_admin_path(@admin), method: :get %></p>
  <p><%= button_to "Show All Students", students_path, method: :get  %></p>
  <p><%= button_to "Show All Courses", courses_path, method: :get %></p>
  <p><%= button_to "Show All Instructors",instructors_path, method: :get %></p>

 
</div>
