<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
    <%   if session[:role]=="ADMIN"%>
    <%= button_to "Destroy this student", student, method: :delete %>
    <%= link_to "Show this student", student %>
    <% else %>
    <%= link_to "Show this student", student %>


    <% end %>
    </p>
  <% end %>
</div>

<%   if session[:role]=="ADMIN"%>
<p>
<%= link_to "Create A Student", new_student_path(:admin=>"admin") %>
<%= link_to "Back  to admin", admin_path(session[:adminId])%>
</p>
<%else%>


<%= link_to "New student", new_student_path %>
<% end %>


