<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
  <%= button_to "List Available Courses", courses_path, method: :get %> <br>
  <%#= link_to "Back to students", request.referer.present? ? request.referer : default_path %>

  <%#   if session[:role]=="ADMIN"%>

  <%= button_to "Edit details", edit_student_path(@student), method: :get %> <br>

  <%= button_to 'Delete Account', @student, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
</div>
