<p style="color: green"><%= notice %></p>

<% if session[:role] != 'STUDENT' %>
  <h1>Student Details</h1>
<% end %>

<%= render @student %>

<div>
  <% if session[:role] == 'STUDENT' %>
    <p><%= button_to "Courses", courses_path, method: :get %> </p>
  <% end %>

  <p><%= button_to "Edit details", edit_student_path(@student), method: :get %></p>

  <% if session[:role] == 'STUDENT' or session[:role] == 'ADMIN' %>
    <p><%= button_to 'Delete Account', @student, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
  <% if session[:role] != 'STUDENT' %>
<!--    <p><%#= button_to "Back", request.referer.present? ? request.referer : admin_path, method: :get %></p>-->
  <% end %>
</div>
