<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
<% if params[:admin]%>
  <p>hi</p>
<%end%>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", request.referer.present? ? request.referer : default_path %>



  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
