<p style="color: green"><%= notice %></p>

<h1>Instructors</h1>

<div id="instructors">
  <% @instructors.each do |instructor| %>
    <%= render instructor %>
    <p>
    <%   if session[:role]=="ADMIN"%>
    <%= button_to "Destroy this instructor", instructor, method: :delete %>
    <%= link_to "Show this instructor", instructor %>
    <% else %>
    <%= link_to "Show this instructor", instructor %>


    <% end %>
    </p>
  <% end %>
</div>


<%   if session[:role]=="ADMIN"%>
<p>
<%= link_to "Create A Instructor", new_instructor_path(:admin=>"admin") %>
</p>
<%elsif session[:role]!="INSTRUCTOR"%>


<%= link_to "New Instructor", new_instructor_path %>

<% end %>