<p style="color: green"><%= notice %></p>

<h1>Instructors</h1>

<div id="instructors">
  <% @instructors.each do |instructor| %>
    <%= render instructor %>
    <%   if session[:role]=="ADMIN"%>
      <p><%= button_to "Destroy this instructor", instructor, method: :delete %></p>
      <p><%= button_to "Show this instructor", instructor, method: :get %></p>
    <% else %>
      <p><%= button_to "Show this instructor", instructor, method: :get %></p>


    <% end %>
  <% end %>
</div>


<%   if session[:role]=="ADMIN"%>
<p> <%= button_to "Create A Instructor", new_instructor_path(:admin=>"admin"), method: :get %> </p>
<%elsif session[:role]!="INSTRUCTOR"%>


<p><%= button_to "New Instructor", new_instructor_path, method: :get %></p>

<% end %>
<p><%= button_to "Back", request.referer.present? ? request.referer : admin_path, method: :get %></p>
