<p style="color: green"><%= notice %></p>

<%= render @instructor %>

<div>
  <p><%= button_to "Edit Details", edit_instructor_path(@instructor), method: :get %></p>

  <% if session[:role] == 'INSTRUCTOR' %>
    <p><%= button_to "Show Courses", courses_path, method: :get %></p>
  <% end %>

  <p><%= button_to "Delete Acount", @instructor, method: :delete %></p>

  <% if session[:role] == 'ADMIN' %>
    <p><%= button_to "Back to instructors", instructors_path, method: :get %></p>
  <% end %>

</div>
