<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= course.instructor_id %>
  </p>

  <p>
    <strong>Weekday1:</strong>
    <%= course.weekday1 %>
  </p>

  <p>
    <strong>Weekday2:</strong>
    <%= course.weekday2 %>
  </p>

  <p>
    <strong>Starttime:</strong>
    <%= course.starttime %>
  </p>

  <p>
    <strong>Endtime:</strong>
    <%= course.endtime %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Wlcapacity:</strong>
    <%= course.wlcapacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.room %>
  </p>

</div>
