<p style="color: green"><%= notice %></p>
<h1>Courses</h1>

<div id="courses">
    <table>
      <thead>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Instructor</th>
        <th>Weekdays</th>
        <th>Start Time</th>
        <th>End Time</th>
<!--        <th>Capacity</th>-->
<!--        <th>WL Capacity</th>-->
        <th>Room</th>
        <th>Availability</th>
        <th colspan="4"></th>
      </tr>
      </thead>

      <tbody>
      <% if session[:role] == 'STUDENT' %>
        <% courses = @courses.where.not(id: Enrollment.where(student_id: session[:id]).pluck(:course_id)) %>
      <% elsif session[:role] == 'INSTRUCTOR'%>
        <% courses = @courses.where(instructor_id: session[:id]) %>
       

      <% elsif session[:role] == 'ADMIN'%>
        <% courses = @courses %>
      <% end %>
      <% courses.each do |course| %>
        <tr>
          <td><%= course.code %></td>
          <td><%= course.name %></td>
          <td><%= course.description %></td>
          <td><%= course.instructor.name %></td>
          <td><%= course.weekday1 + "/" + course.weekday2%></td>
          <td><%= course.starttime %></td>
          <td><%= course.endtime %></td>
          <td><%= course.room %></td>
          <td><%= course.status %></td>
          <td><%= button_to 'Show', course, method: :get %></td>
          <% if session[:role] == 'STUDENT' and course.status != 'CLOSED' %>
            <td><%= button_to 'Enroll', new_enrollment_path, method: :get, params: { :course_id => course.id } %></td>
          <% end %>
          <% if session[:role] == 'INSTRUCTOR' or session[:role] == 'ADMIN' %>
              <td><%= button_to 'Enrolled Students', students_path, method: :get, params: { :course_id => course.id, :status=>"ENROLLED" } %></td>
              <td><%= button_to 'Waitlisted Students', students_path, method: :get, params: { :course_id => course.id, :status=>"WAITLIST" } %></td>
              <% if course.status != 'CLOSED' %>
                <td><%= button_to 'Enroll Student', students_path, method: :get, params: { :course_id => course.id, :status=>"NOTENROLLED" } %></td>
              <% end %>
          <% end %>
<!--          <td><%#= link_to 'Edit', edit_product_path(product) %></td>-->
<!--          <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--          <td><%#= link_to_if product.quantity > 0, 'Purchase this product', new_transaction_path(:product_id => product.id) %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>

  <%# @courses.each do |course| %>
    <%#= render course %>
<!--    <p>-->
      <%#= link_to "Show this course", course %>
<!--    </p>-->
  <%# end %>
</div>

<% if session[:role] == "ADMIN" or session[:role] == 'INSTRUCTOR'%>
  <p> <%= button_to "New Course", new_course_path, method: :get %> </p>
<% end %>

<% if session[:role] == 'STUDENT' %>
<h1>Enrolled Courses</h1>
<div id="enrolled_courses">
  <table>
    <thead>
    <tr>
      <th>Course Code</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Weekdays</th>
      <th>Start Time</th>
      <th>End Time</th>
      <!--        <th>Capacity</th>-->
      <!--        <th>WL Capacity</th>-->
      <th>Room</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% courses = @courses.where(id: Enrollment.where(student_id: session[:id]).pluck(:course_id)) %>
    <% courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.instructor.name %></td>
        <td><%= course.weekday1 + "/" + course.weekday2%></td>
        <td><%= course.starttime %></td>
        <td><%= course.endtime %></td>
        <td><%= course.room %></td>
        <td><%= Enrollment.find_by(course_id: course.id, student_id: session[:id]).status %></td>
        <td><%= button_to 'Show', course, method: :get %></td>
        <td><%= button_to 'Drop', Enrollment.find_by(course_id: course.id, student_id: session[:id]), method: :delete   %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<p><%= button_to "Back", request.referer.present? ? request.referer : admin_path, method: :get %></p>

<% end %>

