<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= button_to "Back to courses", courses_path, method: :get %>
    <% if session[:role] == 'ADMIN' or session[:role] == 'INSTRUCTOR'%>
      <%= button_to "Edit this course", edit_course_path(@course) , method: :get %>
      <%= button_to "Destroy this course", @course, method: :delete %>
    <% end %>
  </div>
